body {
    font-family: "Lucida Console", monospace;
    line-height: 180%;
    background-color: #f0f3ff;
    /*3f5fc*/
    width=100%;
    font-size: 1em;
    font-family: 'Noto Serif', serif;
    color: #1A1423;
}

/*navbar stuff, for more info see here: https://www.w3schools.com/howto/howto_js_topnav_responsive.asp*/
/* Add a black background color to the top navigation */
.navbar {
    background-color: #cc95d6;
    overflow: hidden;
    position: fixed;
    top: 8px;
    font-family: 'Work Sans', sans-serif;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #1A1423;
    text-align: center;
    padding: .2vw;
    text-decoration: none;
    font-size: 17px;
    margin: 0vw 1vw;
}

/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: #1A1423;
}

/* Add an active class to highlight the current page */
.navbar a.active {
    background-color: #04AA6D;
    color: #1A1423;
}

/* Hide the link that should open and close the topnav on small screens */
.navbar .icon {
    display: none;
}

/*end of navbar stuff*/

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;

}

h1,
.h1 {
    font-size: calc(1rem + 2.2vw);
    letter-spacing: 0.05em;
    font-weight: 700;
}


h2,
.h2 {
    font-size: calc(1rem + 1.2vw);
    letter-spacing: 0.03em;
    line-height: 1.75em;

}

#intro {
    font-size: calc(1rem + 3vw);
}

/*
@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2rem;
    }
    #intro{
        font-size: calc(2.5rem);
    }
}*/


h3,
.h3 {
    font-weight: 300;
    letter-spacing: 0.08em;
    font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {

    h3,
    .h3 {
        font-size: 1.75rem;
    }
}

h4,
.h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {

    h4,
    .h4 {
        font-size: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

p {
    font-weight: 400;
}




div.container {
    margin: 1vw;

}

header {
    text-align: center;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 2vw 4vw 2vw 4vw;
    /*
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;*/
}

#hello {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}


#astronaut {
    width: 25vw;
    max-width: 200px;
}


.glow {
    text-align: center;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

/*for information on the glow: https://www.w3docs.com/snippets/css/how-to-create-a-glowing-text.html*/

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #eeeeee, 0 0 20px #eeeeee, 0 0 30px #eeeeee, 0 0 40px #eeeeee,
            0 0 5px #eeeeee, 0 0 15px #cb5252, 0 0 20px #eeeeee;
        /*9554b3*/
    }

    to {
        text-shadow: 0 0 10px #eeeeee, 0 0 15px #eeeeee, 0 0 20px #eeeeee, 0 0 25px #eeeeee,
            0 0 10px #ffffff, 0 0 15px #eeeeee, 0 0 20px #eeeeee;
    }
}


.bubble {
    border-radius: 50px;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    padding: 1.5vw;
}

section {
    text-align: center;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 4vw;
    margin: 5vw 3.5vw 5vw;
}

div.section {
    text-align: center;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 4vw;
    margin: 5vw 3.5vw 5vw;

}

.figurecontainer {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 10vh;
}

@media only screen and (max-width: 800px) {
    .figurecontainer {
        display: block;
        flex-direction: column;
    }
}

.summary {
    display: block;
    text-align: left;
    margin: 0 0 0 3vw;
}



img.profileimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 35%;
    height: auto;
    border-radius: 50%;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    padding: 1.5vw;
}


#portfolio {
    font-size: calc(2rem + 0.9vw);
    border-radius: 50px;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    padding: 1.5vw;
}



img.portfolio {
    margin-bottom: 0.5rem;
    line-height: 1;
    width: 40vw;
    /* width of container */
    height: auto;
    /* height of container */
    object-fit: cover;
}

@media only screen and (max-width: 800px) {
    img.portfolio {
        width: 90%;
        padding-bottom: 2.5vw;
    }


}

.buttoncontainer {
    text-align: center;
    margin: 4vh;
}

button {
    display: inline-block;
    padding: 0.5em 1.5em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 8px;
    border-width: thick;
    border-style: double;
    border-color: white;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #cb5252;
    text-align: center;
    transition: all 0.5s;
    font-family: 'Work Sans', sans-serif;
    font-size: medium;
}

button:hover {
    border-color: #1A1423;
    color: #1A1423;
    font-weight: bold;
    background-color: white;
}



footer {
    text-align: center;
    font-size: .8em;
}

/*project pages*/

h2.project {
    font-size: calc(2rem + 0.9vw);
    border-radius: 50px;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    padding: 1.5vw;
    font-family: 'Noto Serif', serif;
    text-align: center;
    /*font-family: 'Work Sans', sans-serif;*/
}

div.twomockups {
    max-width: 100%;
    display: inline-flex;
    margin: 5%;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
}

section.writeup {
    text-align: left;
    border-style: double;
    border-color: #8787ea;
    border-width: thick;
    border-radius: 20px;
    padding: 2vw 5vw 5vw;
    margin: 5vw;
    font-family: 'Work Sans', sans-serif;
    max-width: 100%;
    min-width: none;
}

img.product {
    width: 30%;
    min-width: 150px;
    height: auto;
    margin: auto;
    padding: 5vh;
}